<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Traveler!</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'travelAppCSS/bootstrap.css' %}" media="screen" title="no title"  charset="utf-8">
	<link rel="stylesheet" href="{% static 'travelAppCSS/registration.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>

	<div id = 'container'>
		<div class = 'homepage'>
			<img class="img-responsive homepage" src="{% static 'travelAppIMG/seattle_home.jpg' %}" alt="Chania" width="">
				<div class = 'registrationheader'>
					<h1>Register With Travel</h1>
				</div>
			<div class = 'here'>
				<form action="{% url 'my_travel_register' %}" method="POST">
					{% csrf_token %}
					<table>
						<tr>
							<td><label>First Name:</label></td>
							<td><input class='input-sm' type="text" name="first_name" placeholder="First Name"></td>
						</tr>
						<tr>
							<td><label>Last Name:</label></td>
							<td><input class='input-sm' type="text" name="last_name" placeholder="Last Name"></td>
						</tr>
						<tr>
							<td><label>Email Address:</label></td>
							<td><input class='input-sm' type="email" name="email" placeholder="Email"></td>
						</tr>
						<tr>
							<td><label>Username:</label></td>
							<td><input class='input-sm' type="text" name="username" placeholder="Username"></td>
						</tr>
						<tr>
							<td><label>Password:</label></td>
							<td><input class='input-sm' type="password" name="password" placeholder="Password"></td>
						</tr>
						<tr>
							<td><label>Confirm Password:</label></td>
							<td><input class='input-sm' type="password" name="confirm" placeholder="Confirm"></td>
						</tr>
						<tr>
							<td><label><input class = 'btn btn-primary' type="submit" name="submit" value="Create Account"></label></td>
						</tr>
						<hr>
					</table>	
				<form>	
			</div>
		</div>	
	</div>

</body>
</html>