<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h4> This is the user profile likes page </h4>
	<!--menu bar -->
	<a href = "{% url 'my_travel_home' %}"> Home</a>
	<a href = "{% url 'my_travel_destination' %}"> Destination</a>
	<a href = "{% url 'my_travel_profile' %}"> Profile</a>

		<!--fav box link -->
	<p><a href = "{% url 'my_travel_trip' %}"> trip id 1</a></p>
	<p><a href = "{% url 'my_travel_trip' %}"> trip id 2</a></p>
	<p><a href = "{% url 'my_travel_trip' %}"> trip id 3</a></p>


</body>
</html>